# Equipo: 04
**Grupo:**
002, Miércoles

**Integrantes:**

+ 1858163 Cárdenas Elizondo, Rebeca 
+ 1877340 Leal Cantú, Vanessa 
+ 1847012 Botello Flores, José Ricardo 

**Título de la base de datos:**

**a) Nombre con el que se encuentra en la página encontrada**

COVID-19 World Vaccination Progress

**b) URL de la página**
https://www.kaggle.com/gpreda/covid-world-vaccination-progress

### Limpieza de datos

**Leer el archivo**

Como primer paso, importamos librerias que nos ayudarán en todo el proceso de limpieza de datos. Mandamos llamar el archivo y usamos encoding para que en caso de que el excel contenga símbolos que la computadora no reconozca, los pueda leer.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("C:/Users/enriq/Desktop/country_vaccinations.csv")

df = pd.read_csv("C:/Users/enriq/Desktop/country_vaccinations.csv", encoding='utf8')

**Tamaño de la base de datos**

La base de datos sin manipular consta de 4380 filas y 15 columnas.

In [2]:
df.shape

(4380, 15)

In [3]:
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Albania,ALB,2021-01-10,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
1,Albania,ALB,2021-01-11,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
2,Albania,ALB,2021-01-12,128.0,128.0,NaN,NaN,64.0,0.00,0.00,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
3,Albania,ALB,2021-01-13,188.0,188.0,NaN,60.0,63.0,0.01,0.01,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
4,Albania,ALB,2021-01-14,266.0,266.0,NaN,78.0,66.0,0.01,0.01,NaN,23.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...

In [4]:
df.tail()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
4375,Zimbabwe,ZWE,2021-02-22,1314.0,1314.0,NaN,NaN,328.0,0.01,0.01,NaN,22.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1365400469...
4376,Zimbabwe,ZWE,2021-02-23,4041.0,4041.0,NaN,2727.0,808.0,0.03,0.03,NaN,54.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1365400469...
4377,Zimbabwe,ZWE,2021-02-24,7872.0,7872.0,NaN,3831.0,1312.0,0.05,0.05,NaN,88.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1365400469...
4378,Zimbabwe,ZWE,2021-02-25,11007.0,11007.0,NaN,3135.0,1572.0,0.07,0.07,NaN,106.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1365400469...
4379,Zimbabwe,ZWE,2021-02-26,12579.0,12579.0,NaN,1572.0,1750.0,0.08,0.08,NaN,118.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1365400469...

Con los comandos head y tail nos pudimos dar cuenta de que la base de datos esta ordenada con base a la columana "country" por orden alfabético empezando con Albania y terminando con Zimbabwe.

**Cambio de nombre de columnas**

Decidimos cambiar el nombre de las columnas que vamos a utilizar al idioma español para una mejor comprensión para futuras lecturas.

In [5]:
 #https://www.iteramos.com/pregunta/7805/-renombrar-las-columnas-en-los-pandas-
df.rename(columns = {'country':'País'}, inplace=True)
df.rename(columns = {'date':'Fecha'}, inplace=True)
df.rename(columns = {'total_vaccinations':'Total_V'}, inplace=True)
df.rename(columns = {'people_vaccinated':'Personas_V'}, inplace=True)
df.rename(columns = {'people_fully_vaccinated':'PV_Totalmente'}, inplace=True)
df.rename(columns = {'daily_vaccinations':'V_Diarias'}, inplace=True)
df.rename(columns = {'vaccines':'Nombre_V'}, inplace=True)

In [6]:
df.head()

,País,iso_code,Fecha,Total_V,Personas_V,PV_Totalmente,daily_vaccinations_raw,V_Diarias,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,Nombre_V,source_name,source_website
0,Albania,ALB,2021-01-10,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
1,Albania,ALB,2021-01-11,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
2,Albania,ALB,2021-01-12,128.0,128.0,NaN,NaN,64.0,0.00,0.00,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
3,Albania,ALB,2021-01-13,188.0,188.0,NaN,60.0,63.0,0.01,0.01,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
4,Albania,ALB,2021-01-14,266.0,266.0,NaN,78.0,66.0,0.01,0.01,NaN,23.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...

**Eliminación de columnas**

Decidimos eliminar las columnas de iso_code, total_vaccination_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, daily_vaccinations_per_million, source_name y source_website (1, 6, 8, 9, 10, 11, 13 y 14) ya que la información que proporcionaban no era de nuestro interés para este proyecto y no afectarán el análisis que haremos de la base de datos.

In [7]:
#http://exponentis.es/como-eliminar-columnas-de-un-dataframe-de-python-pandas
df1 = df.drop(df.columns[[1, 6, 8, 9, 10, 11, 13, 14]], axis='columns')
df1

,País,Fecha,Total_V,Personas_V,PV_Totalmente,V_Diarias,Nombre_V
0,Albania,2021-01-10,0.0,0.0,NaN,NaN,Pfizer/BioNTech
1,Albania,2021-01-11,NaN,NaN,NaN,64.0,Pfizer/BioNTech
2,Albania,2021-01-12,128.0,128.0,NaN,64.0,Pfizer/BioNTech
3,Albania,2021-01-13,188.0,188.0,NaN,63.0,Pfizer/BioNTech
4,Albania,2021-01-14,266.0,266.0,NaN,66.0,Pfizer/BioNTech
...,...,...,...,...,...,...,...
4375,Zimbabwe,2021-02-22,1314.0,1314.0,NaN,328.0,Sinopharm/Beijing
4376,Zimbabwe,2021-02-23,4041.0,4041.0,NaN,808.0,Sinopharm/Beijing
4377,Zimbabwe,2021-02-24,7872.0,7872.0,NaN,1312.0,Sinopharm/Beijing
4378,Zimbabwe,2021-02-25,11007.0,11007.0,NaN,1572.0,Sinopharm/Beijing
4379,Zimbabwe,2021-02-26,12579.0,12579.0,NaN,1750.0,Sinopharm/Beijing

**Datos Nulos**

Todos las columnas que contengan datos nulos se mostraran con un "True" y los que no con un "False".

In [8]:
df1.isnull()

       País  Fecha  Total_V  Personas_V  PV_Totalmente  V_Diarias  Nombre_V
0     False  False    False       False           True       True     False
1     False  False     True        True           True      False     False
2     False  False    False       False           True      False     False
3     False  False    False       False           True      False     False
4     False  False    False       False           True      False     False
...     ...    ...      ...         ...            ...        ...       ...
4375  False  False    False       False           True      False     False
4376  False  False    False       False           True      False     False
4377  False  False    False       False           True      False     False
4378  False  False    False       False           True      False     False
4379  False  False    False       False           True      False     False

[4380 rows x 7 columns]

In [9]:
df1.isnull().any()

País             False
Fecha            False
Total_V           True
Personas_V        True
PV_Totalmente     True
V_Diarias         True
Nombre_V         False
dtype: bool

In [10]:
df1.isnull().sum()

País                0
Fecha               0
Total_V          1514
Personas_V       1942
PV_Totalmente    2754
V_Diarias         154
Nombre_V            0
dtype: int64

Para llenar la celdas vacias con ceros utilizaremos la siguiente instrucción:

In [11]:
df_0= df1.fillna(0)
df_0

,País,Fecha,Total_V,Personas_V,PV_Totalmente,V_Diarias,Nombre_V
0,Albania,2021-01-10,0.0,0.0,0.0,0.0,Pfizer/BioNTech
1,Albania,2021-01-11,0.0,0.0,0.0,64.0,Pfizer/BioNTech
2,Albania,2021-01-12,128.0,128.0,0.0,64.0,Pfizer/BioNTech
3,Albania,2021-01-13,188.0,188.0,0.0,63.0,Pfizer/BioNTech
4,Albania,2021-01-14,266.0,266.0,0.0,66.0,Pfizer/BioNTech
...,...,...,...,...,...,...,...
4375,Zimbabwe,2021-02-22,1314.0,1314.0,0.0,328.0,Sinopharm/Beijing
4376,Zimbabwe,2021-02-23,4041.0,4041.0,0.0,808.0,Sinopharm/Beijing
4377,Zimbabwe,2021-02-24,7872.0,7872.0,0.0,1312.0,Sinopharm/Beijing
4378,Zimbabwe,2021-02-25,11007.0,11007.0,0.0,1572.0,Sinopharm/Beijing
4379,Zimbabwe,2021-02-26,12579.0,12579.0,0.0,1750.0,Sinopharm/Beijing

In [12]:
df_0.dtypes

País              object
Fecha             object
Total_V          float64
Personas_V       float64
PV_Totalmente    float64
V_Diarias        float64
Nombre_V          object
dtype: object

Cambiamos el orden de las columnas para que sea más fácil para nosotros leer la base de datos basado en nuestros objetivos. Por ejemplo, uno de ellos es ver cual vacuna ha sido más utilizada entonces movimos la columna que contiene el nombre de la vacunas que han sido aplicadas a la posición 2. (0= País, 1= Fecha, 2= Nombre_V)

In [13]:
#Función cambio de columnas
#https://www.delftstack.com/es/howto/python-pandas/how-to-change-the-order-of-dataframe-columns/
dfn = df_0.reindex(columns = ['País', 'Fecha', 'Nombre_V', 'Personas_V', 'PV_Totalmente', 'Total_V','V_Diarias'])
dfn

,País,Fecha,Nombre_V,Personas_V,PV_Totalmente,Total_V,V_Diarias
0,Albania,2021-01-10,Pfizer/BioNTech,0.0,0.0,0.0,0.0
1,Albania,2021-01-11,Pfizer/BioNTech,0.0,0.0,0.0,64.0
2,Albania,2021-01-12,Pfizer/BioNTech,128.0,0.0,128.0,64.0
3,Albania,2021-01-13,Pfizer/BioNTech,188.0,0.0,188.0,63.0
4,Albania,2021-01-14,Pfizer/BioNTech,266.0,0.0,266.0,66.0
...,...,...,...,...,...,...,...
4375,Zimbabwe,2021-02-22,Sinopharm/Beijing,1314.0,0.0,1314.0,328.0
4376,Zimbabwe,2021-02-23,Sinopharm/Beijing,4041.0,0.0,4041.0,808.0
4377,Zimbabwe,2021-02-24,Sinopharm/Beijing,7872.0,0.0,7872.0,1312.0
4378,Zimbabwe,2021-02-25,Sinopharm/Beijing,11007.0,0.0,11007.0,1572.0
4379,Zimbabwe,2021-02-26,Sinopharm/Beijing,12579.0,0.0,12579.0,1750.0

**Guardar en archivo nuevo**

Guardamos en un nuevo archivo llamado "vacunas_por_pais" la base de datos contodas las modificaciones hechas.

In [14]:
#https://www.analyticslane.com/2018/06/15/guardar-y-leer-archivos-csv-con-python/#:~:text=Para%20guardar%20un%20archivo%20CSV,CSV%20utilizando%20el%20m%C3%A9todo%20to_csv%20.
dfn.to_csv("C:/Users/enriq/Desktop/vacunas_por_pais.csv")

## Preguntas de interés
+ **¿Para qué me puede servir estas agrupaciones para la práctica siguiente?**

R = Estas agrupaciones nos pueden servir en la sigueinte práctica para facilitar el manejo de la información. Por ejemplo, nos puede ayudar a encontrar todos los paises que han empezado con el proceso de vacunación así como las diferentes vacunas utilizadas en cada uno.

+ **Importancia del análisis previo de los datos antes de iniciar las modificaciones.**

R = Delimitar la información encontrada en la bases datos para que se apegue más a las necesidades del proyecto y cumplir con nuestro objetivo.

## Puntos Extras
### Investigar los siguientes comandos:
+ **df.dropna()** 

Esta función elimina cualquier fila que no contenga algún dato en cualquiera de sus columnas. (Cualquier valor "NaN")

+ **df.astype()**

Esta función cambia el tipo de variable de toda la tabla o de las columnas que se le especifique al tipo de variable que se desea. 

(https://www.geeksforgeeks.org/python-pandas-dataframe-astype/)

In [15]:
df.dropna()

,País,iso_code,Fecha,Total_V,Personas_V,PV_Totalmente,daily_vaccinations_raw,V_Diarias,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,Nombre_V,source_name,source_website
39,Albania,ALB,2021-02-18,3049.0,2438.0,611.0,1348.0,254.0,0.11,0.08,0.02,88.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
134,Argentina,ARG,2021-01-21,265724.0,249372.0,16352.0,17791.0,11704.0,0.59,0.55,0.04,259.0,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
135,Argentina,ARG,2021-01-22,279602.0,254456.0,25146.0,13878.0,11263.0,0.62,0.56,0.06,249.0,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
136,Argentina,ARG,2021-01-23,288064.0,258876.0,29188.0,8462.0,11124.0,0.64,0.57,0.06,246.0,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
137,Argentina,ARG,2021-01-24,292023.0,260036.0,31987.0,3959.0,10342.0,0.65,0.58,0.07,229.0,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4285,United States,USA,2021-02-22,64177474.0,44138118.0,19438495.0,1086840.0,1446445.0,19.19,13.20,5.81,4325.0,"Moderna, Pfizer/BioNTech",Centers for Disease Control and Prevention,https://covid.cdc.gov/covid-data-tracker/#vacc...
4286,United States,USA,2021-02-23,65032083.0,44544969.0,19882544.0,854609.0,1401674.0,19.44,13.32,5.94,4191.0,"Moderna, Pfizer/BioNTech",Centers for Disease Control and Prevention,https://covid.cdc.gov/covid-data-tracker/#vacc...
4287,United States,USA,2021-02-24,66464947.0,45237143.0,20607261.0,1432864.0,1454731.0,19.87,13.53,6.16,4350.0,"Moderna, Pfizer/BioNTech",Centers for Disease Control and Prevention,https://covid.cdc.gov/covid-data-tracker/#vacc...
4288,United States,USA,2021-02-25,68274117.0,46074392.0,21555117.0,1809170.0,1505193.0,20.41,13.78,6.45,4501.0,"Moderna, Pfizer/BioNTech",Centers for Disease Control and Prevention,https://covid.cdc.gov/covid-data-tracker/#vacc...
4289,United States,USA,2021-02-26,70454064.0,47184199.0,22613359.0,2179947.0,1552717.0,21.07,14.11,6.76,4643.0,"Moderna, Pfizer/BioNTech",Centers for Disease Control and Prevention,https://covid.cdc.gov/covid-data-tracker/#vacc...

In [16]:
dft = dfn.astype({"País":'category', "Total_V":'int64', "Personas_V":'int64', "PV_Totalmente":'int64', "V_Diarias":'int64'}) 
dft.dtypes

País             category
Fecha              object
Nombre_V           object
Personas_V          int64
PV_Totalmente       int64
Total_V             int64
V_Diarias           int64
dtype: object

### Título de la base de datos:

**a) Nombre con el que se encuentra en la página encontrada**

Stroke Prediction Dataset


**b) URL de la página**

https://www.kaggle.com/fedesoriano/stroke-prediction-dataset?select=healthcare-dataset-stroke-data.csv

In [1]:
import pandas as pd
import numpy as np

dff = pd.read_csv("C:/Users/enriq/Desktop/healthcare-dataset-stroke-data.csv")

dff = pd.read_csv("C:/Users/enriq/Desktop/healthcare-dataset-stroke-data.csv", encoding='utf8')

In [2]:
dff.shape

(5110, 12)

In [3]:
dff.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
dff.tail()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [5]:
dff.rename(columns = {'id':'ID'}, inplace=True)
dff.rename(columns = {'gender':'Género'}, inplace=True)
dff.rename(columns = {'age':'Edad'}, inplace=True)
dff.rename(columns = {'hypertension':'Hypertensión'}, inplace=True)
dff.rename(columns = {'heart_disease':'Enfermedad_Corazón'}, inplace=True)
dff.rename(columns = {'ever_married':'Edo_Civil'}, inplace=True)
dff.rename(columns = {'work_type':'Tipo_Trabajo'}, inplace=True)
dff.rename(columns = {'Residence_type':'Tipo_Residencia'}, inplace=True)
dff.rename(columns = {'avg_glucose_level':'Nivel_Glucosa'}, inplace=True)
dff.rename(columns = {'bmi':'BMI'}, inplace=True)
dff.rename(columns = {'smoking_status':'Consumo_Tabacoco'}, inplace=True)
dff.rename(columns = {'stroke':'Derrame_Cerebral'}, inplace=True)

In [6]:
dff.head()

,ID,Género,Edad,Hypertensión,Enfermedad_Corazón,Edo_Civil,Tipo_Trabajo,Tipo_Residencia,Nivel_Glucosa,BMI,Consumo_Tabacoco,Derrame_Cerebral
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [7]:
#http://exponentis.es/como-eliminar-columnas-de-un-dataframe-de-python-pandas
dff = dff.drop(dff.columns[[0]], axis='columns')
dff

,Género,Edad,Hypertensión,Enfermedad_Corazón,Edo_Civil,Tipo_Trabajo,Tipo_Residencia,Nivel_Glucosa,BMI,Consumo_Tabacoco,Derrame_Cerebral
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [8]:
dff.isnull().any()

Género                False
Edad                  False
Hypertensión          False
Enfermedad_Corazón    False
Edo_Civil             False
Tipo_Trabajo          False
Tipo_Residencia       False
Nivel_Glucosa         False
BMI                    True
Consumo_Tabacoco      False
Derrame_Cerebral      False
dtype: bool

In [9]:
dff.isnull().sum()

Género                  0
Edad                    0
Hypertensión            0
Enfermedad_Corazón      0
Edo_Civil               0
Tipo_Trabajo            0
Tipo_Residencia         0
Nivel_Glucosa           0
BMI                   201
Consumo_Tabacoco        0
Derrame_Cerebral        0
dtype: int64

Eliminamos las filas que tuvieran valores nulos.

In [10]:
dff.dropna()

,Género,Edad,Hypertensión,Enfermedad_Corazón,Edo_Civil,Tipo_Trabajo,Tipo_Residencia,Nivel_Glucosa,BMI,Consumo_Tabacoco,Derrame_Cerebral
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [11]:
dff.dtypes

Género                 object
Edad                  float64
Hypertensión            int64
Enfermedad_Corazón      int64
Edo_Civil              object
Tipo_Trabajo           object
Tipo_Residencia        object
Nivel_Glucosa         float64
BMI                   float64
Consumo_Tabacoco       object
Derrame_Cerebral        int64
dtype: object

In [13]:
#https://www.delftstack.com/es/howto/python-pandas/how-to-change-the-order-of-dataframe-columns/
dff = dff.reindex(columns = ['Género', 'Edad', 'Derrame_Cerebral', 'Hypertensión', 'Enfermedad_Corazón', 'Edo_Civil','Tipo_Trabajo', 'Nivel_Glucosa', 'BMI', 'Tipo_Trabajo', 'Consumo_Tabacoco'])
dff

,Género,Edad,Derrame_Cerebral,Hypertensión,Enfermedad_Corazón,Edo_Civil,Tipo_Trabajo,Nivel_Glucosa,BMI,Tipo_Trabajo,Consumo_Tabacoco
0,Male,67.0,1,0,1,Yes,Private,228.69,36.6,Private,formerly smoked
1,Female,61.0,1,0,0,Yes,Self-employed,202.21,NaN,Self-employed,never smoked
2,Male,80.0,1,0,1,Yes,Private,105.92,32.5,Private,never smoked
3,Female,49.0,1,0,0,Yes,Private,171.23,34.4,Private,smokes
4,Female,79.0,1,1,0,Yes,Self-employed,174.12,24.0,Self-employed,never smoked
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,0,1,0,Yes,Private,83.75,NaN,Private,never smoked
5106,Female,81.0,0,0,0,Yes,Self-employed,125.20,40.0,Self-employed,never smoked
5107,Female,35.0,0,0,0,Yes,Self-employed,82.99,30.6,Self-employed,never smoked
5108,Male,51.0,0,0,0,Yes,Private,166.29,25.6,Private,formerly smoked
5109,Female,44.0,0,0,0,Yes,Govt_job,85.28,26.2,Govt_job,Unknown

In [14]:
#https://www.analyticslane.com/2018/06/15/guardar-y-leer-archivos-csv-con-python/#:~:text=Para%20guardar%20un%20archivo%20CSV,CSV%20utilizando%20el%20m%C3%A9todo%20to_csv%20.
dff.to_csv("C:/Users/enriq/Desktop/predicción_derrame_cerebral_BD.csv")